* {
    /*-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
	line-height: 1;
	height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.LienStandard {color:#515151; cursor:pointer;} .LienStandard:hover {text-decoration:underline;color:#ea6113;}
.LienOStandard {background:#ea6113;color:#fff;} .LienStandard:hover {background:#fff;text-decoration:underline;color:#ea6113;}
.white {color:#fff;} .black {color:#000;} .gris {color:#515151;} .grisclair {color:#5c5c5c;} .orange {color:#ea6113;} .rouge {color:#e2001a;} .vert {color:#090;}
.ombreE1 {
	-moz-box-shadow: -1px -1px 2px 0px #7f7f7f,1px 1px 2px 0px #7f7f7f;
	-webkit-box-shadow: -1px -1px 2px 0px #7f7f7f,1px 1px 2px 0px #7f7f7f;
	-o-box-shadow: -1px -1px 2px 0px #7f7f7f,1px 1px 2px 0px #7f7f7f;
	box-shadow: -1px -1px 2px 0px #7f7f7f,1px 1px 2px 0px #7f7f7f;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#7f7f7f, Direction=315, Strength=1);
}
.ombreE2 {
	-moz-box-shadow: -2px -2px 2px 0px #7f7f7f,2px 2px 2px 0px #7f7f7f;
	-webkit-box-shadow: -2px -2px 2px 0px #7f7f7f,2px 2px 2px 0px #7f7f7f;
	-o-box-shadow: -2px -2px 2px 0px #7f7f7f,2px 2px 2px 0px #7f7f7f;
	box-shadow: -2px -2px 2px 0px #7f7f7f,2px 2px 2px 0px #7f7f7f;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#7f7f7f, Direction=315, Strength=2);
}
.gras {font-weight:bold;}
.italique {font-style:italic;}
.souligne {text-decoration:underline;}
.P10 {font-size:10px;}
.P11 {font-size:11px;}
.P12 {font-size:12px;}
.P13 {font-size:13px;}
.P14 {font-size:14px;}
.P15 {font-size:15px;}
.P16 {font-size:16px;}
.P17 {font-size:17px;}
.P18 {font-size:18px;}
.P19 {font-size:19px;}
.P20 {font-size:20px;}
.P21 {font-size:21px;}
.P22 {font-size:22px;}
.P41 {font-size:41px;}
.clear {clear:both;}
.centre {text-align:center;}
.droite {text-align:right;}
.gauche {text-align:left;}
.invis {visibility:hidden}
.floatleft {float:left;}
.floatright {float:right;}
.relative {position:relative;}
.pointer {cursor:pointer;}
cite {font-style: italic;}
strong {font-weight: bold;}
.MT10 {margin-top:10px;}
.MT12 {margin-top:12px;}
.MT15 {margin-top:15px;}
.MT20 {margin-top:20px;}
.ML10 {margin-left:10px;}
.ML12 {margin-left:12px;}
.ML15 {margin-left:15px;}
.ML20 {margin-left:20px;}
.unlien a:hover{text-decoration:underline;}
table {
	border-collapse:collapse;
	border-spacing:0;
/*	border:2px solid #ccc;
	border-right:2px solid #ccc;*/
	margin-bottom:10px;
/*	width:100%;*/
	border-radius:5px;
}
tr:nth-child(odd) {
/*	background:#ddd;*/
}
tr:nth-child(even) {
/*	background:#eee;*/
}
th {
	padding:10px;
	padding-top:6px;
	padding-bottom:4px;
	border-right:1px solid #ccc;
	background:#ccc;
	color:#333;
	font-size:25px;
}
th:last-child {
	border-right:none;
}
td {
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
	height:30px;
/*	border-right:1px solid #ccc;*/
	vertical-align:middle;
	font-size:23px;
}
td.last-child {
/*	border-right:none;*/
}
tr.lignecde {border-bottom:1px solid #ea6113; background:#FFF;}
td.coldate {text-align:center; width:150px;}
td.colref  {text-align:center; width:100px;}
td.coletat {text-align:center; width:250px;}
td.colmontant {text-align:right; width:200px;}
td.colpdf {text-align:center; width:40px;}
input[type="text"],input[type="password"],input[type="email"],input[type="file"],input[type="tel"],textarea  {
	border:1px solid #999;
	padding:4px;
	border-radius:4px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
}
select {
	border:1px solid #999;
	padding:4px;
	border-radius:4px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	height:26px;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="file"]:focus,input[type="tel"]:focus,textarea:focus {
	border:1px solid #222;
	background:#FFFDFB;
}
input[type="text"]:invalid,input[type="password"]:invalid,input[type="email"]:invalid,input[type="file"]:invalid,input[type="tel"]:invalid,textarea:invalid {
/*	border:1px solid #C23;*/
}
input[type="button"],input[type="submit"] {
	background:#e2001a;
	color:#fff;
	border:1px solid #e2001a;
	padding:3px;
	border-radius:4px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
}
input[type="button"]:hover,input[type="submit"]:hover {
	background:#fff;
	border:1px solid #e2001a;
	color:#e2001a;
	cursor:pointer;
/*	box-shadow: 3px 3px 5px 0px rgba(100,100,100, 0.7); */
	text-decoration:underline;
}
/* STRUCTURE
--------------------------------------------------------------------------- */
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#fff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	border:5px solid #e2001a;
	min-height:100%;
}
#header {
	width:100%;
	height:40px;
	line-height:40px;
    text-align:center;
	vertical-align:middle;
	background:#CCC;
}
#content {
	background:#FFF;
	padding-top:10px;
	padding-bottom:40px;
	padding-left:20px;
	padding-right:20px;
	width:90%;
	margin:0 auto;
}
#footer {
	width:auto;
	height:20px;
	line-height:18px;
	position:fixed;
	bottom:5px; left:5px; right:5px;
	background:#CCC;
	padding-left:10px; padding-top:0px;
	vertical-align:middle;
}
#footer p {
	margin-top:-5px;
	font-size:14px;
}
#log {
	display:none;
	width:auto;
	height:220px;
	position:fixed;
	bottom:25px; left:5px; right:5px;
	background:#EEE;
	padding-left:10px; padding-top:5px; padding-right:10px;
	overflow:scroll;
	overflow-x:hidden;
}
#cnType { float:right; margin-right:10px;}
h1 {
	color:#e2001a;
    font-size:36px;
	line-height:44px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
	vertical-align:middle;
}
h2 {
	color:#e2001a;
    font-size:28px;
	line-height:38px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
	vertical-align:middle;
	text-decoration:underline;
	margin-top:5px;
}
p {
	font-family:Verdana, Geneva, sans-serif;
    font-size:20px;
	line-height:32px;
    font-weight:normal;
    margin:0px;
	color:#333;
}
.loader {display:none;}
.Panneau {
	display:none;
	position:relative;
}
.current {
	display:block;
}
.bRetour {
	position:absolute; 
	right:5px;
	top:0px;
	margin-top:-4px;
	cursor:pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0*/ 
}
#Signature {margin:5px 0px 10px 0px;}
.Logo {margin-top:-1px;}
/* PANNEAU RECHERCHE */
.PanneauRech {display:none;background:#FFF;border:3px solid #e2001a;border-radius:5px;width:90%;height:90%;position:fixed;left:5%;top:5%; z-index:10;}
.HeaderPanRech {height:63px; border-bottom:3px solid #e2001a; position:absolute; top:0; left:0; right:0;}
.HeaderPanRech p {margin-top:5px;line-height:20px; padding-left:15px; padding-right:15px;}
.HeaderPanRech p input {width:100%; height:24px; font-size:14px;}
.ContentPanRech {overflow:scroll; overflow-x:hidden; position:absolute; top:63px; left:0; right:0; bottom:40px; margin-top:5px; margin-bottom:5px;}
.ContentPanRech li {padding-left:15px;line-height:26px; font-size:18px; font-weight:normal; color:#545458; width:100%; cursor:pointer;}
.ContentPanRech li:hover { background:#e2001a; color:#fff;}
.ContentPanRech li a {width:100%; display:block;}
.FooterPanRech {height:40px; border-top:3px solid #e2001a; position:absolute; bottom:0px; left:0; right:0; display:block;vertical-align:middle; padding-left:15px; }
.FooterPanRech button {margin-top:4px; font-size:17px}
/* INIT
-------------------------------*/
#Init {text-align:center;}
/* CONNEXION
-------------------------------*/
#Connexion {text-align:center;}
#ident {margin-top:20px;}
#tcon {margin:0 auto;}
#User {width:140px;}
#Psw {width:140px;}
#btnlog{width:40px;}
/* MAIN
-------------------------------*/
#Main {text-align:center;}
#Main p {font-size:24px; line-height:38px;}
.lienconsulthist {display:none;}
/* TARIF
-------------------------------*/
#LeModele {margin-bottom:10px;}
#trfElems {position:fixed; bottom:35px; left:15px; height:60%; width:857px; border:1px solid #e2001a;}
#trfLesElems {position:absolute; top:34px;bottom:0px; left:0px; right:0px;  overflow:auto; overflow-x:hidden;}
.fixedHeader tr th {width:60px;}.fixedHeader tr th+th {width:650px;}.fixedHeader tr th+th+th {width:130px;}
.scrollContent tr td {width:80px;}.scrollContent tr td+td {width:650px;}.scrollContent tr td+td+td {width:130px;}
#trfResult {margin-left:10px;width:auto;overflow:scroll;overflow-x:hidden;}
#trfwrapperimg {position:fixed; bottom:35px; left:872px; height:60%; right:15px; border:1px solid #e2001a;	overflow: hidden;}
#trfscroller ul li {width:100%;}
#trfscroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	height: 100%;
	background-color: #a00;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#trfscroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#trfscroller li {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	font-size: 14px;
}
#trfscroller li img {
	display: block;
	position:relative;
	z-index:2;
}
/* COMMANDES
-------------------------------*/
.EcranCde {display:none; position:relative;}
#croquis {background:#fff; z-index:10; display:none; position:fixed; top:42px; left:12px; right:12px; bottom:42px; border:1px solid #e2001a; padding:12px;}
.current2 {display:block;}
.cdeEntete {border-bottom:1px solid #000;}.cdeEntete table {margin-bottom:0px;}.cdeEntete td {font-size:22px;}
.cdeContent {padding:15px; overflow:scroll; overflow-x: hidden; position:fixed; top:41px; left:5px; right:5px; bottom:68px;}
.cdeFooter {display:block;position:fixed; left:5px; right:5px; bottom:25px; border-top:1px solid #000; text-align:right; padding:0px;height:45px;}
.cdeFooter button, .btncde {margin:7px 10px 5px 10px; padding-top:5px; padding-bottom:5px; padding-left:10px; padding-right:10px;}
.cdeContent select {padding:4px; text-align:right;}
.cdeContent label{border-radius:4px; font-size:16px; line-height:26px; margin-top:-2px;}
.cdeContent input[type=radio] {display:none;}
.cdeContent input[type=radio] + label {display:inline-block;padding: 2px 12px;background-color: #e7e7e7;color:#505058; border:1px solid #9e9e9e;}
.cdeContent input[type=radio]:checked + label {background-color:#e2001a;color:#fff;}
/* ecran 1 */
.bloc{width:740px; position:relative; left:50%; margin-left:-370px;}
#rubrsoc,#rubrfrac {display:none;} #rubrsoc {margin-bottom:8px;}
#lPartic {margin-bottom:8px;}
#RemarqueVendeur {width:524px; margin-top:8px;}
#Societe {width:438px; margin-bottom:8px;}
#NumTva {width:276px;}
#Responsable {width:600px; }
#Prenom1, #Prenom2 {width:282px;} #Nom1, #Nom2 {width:298px;margin-bottom:8px;}
#Adresse,#Email {width:734px;margin-bottom:8px;}
#CP {width:130px;}
#Ville {width:584px; margin-bottom:8px;}
#Tel1,#Gsm1 {width:359px; margin-bottom:8px;}
#Tel2,#Gsm2 {width:360px; margin-bottom:8px;}
#Remarque1 {width:734px; height:215px; margin-bottom:8px; margin-top:3px;}
/* ecran 2 */
#Delai {width:40px; text-align:right;}
#cdeChoix {margin-top:10px;}
#cx1,#cx2,#cx3,#cx4 {width:20%;}
#cdeElems {position:relative; top:15px; left:15px; height:60%; width:830px; border:1px solid #e2001a; margin-bottom:25px;}
#cdeLesElems {position:absolute; top:34px;bottom:0px; left:0px; right:0px;  overflow:auto; overflow-x:hidden;}
.cdefixedHeader tr th {width:680px;}.cdefixedHeader tr th+th {width:150px;}
.cdescrollContent tr td {width:680px;}.cdescrollContent tr td+td {width:130px;}
#cdemoduc,#cdecuiruc,#cdecolouc,#cdeopfr {font-size:12px;}
#cdeRemMod {font-size:14px; width:280px; padding-top:15px;}
/* ecran 3 */
/* ecran 4 */
#tableauprix tr td {width:70%;}
#tableauprix tr td+td {width:30%;}
#cdePV {width:120px; text-align:right;}
#cdePT {width:120px; text-align:right;}
#cdeRem {width:120px; text-align:right;}
#cdeRachat {width:120px; text-align:right;}
#cdeFC {width:120px; text-align:right;}
#cdeFCLIB {width:340px;}
#cdePVTOT {width:120px; text-align:right;}
#MontantFin {width:120px; text-align:right;}
#tableauacompte td {font-size:20px;}
#tableauacompte tr td {width:70%;}
#tableauacompte tr td+td {width:30%;}
#cdePVTOTTVAC {width:120px; text-align:right;}
#cdeacomptecarte {width:120px; text-align:right;}
#cdeacompteespece {width:120px; text-align:right;}
#cdeacomptecheque {width:120px; text-align:right;}
#cdeacompteautre {width:120px; text-align:right;}
#cdesoldeacompte {width:120px; text-align:right;}
#cdeacomptedate {width:120px;}
